.header__icon {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
}

.header__icon-wrapper {
  margin: 0 0.5rem;
  padding: 0;
  border: 0;
}

.header__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
