
:root {
  /* light theme colors */
  --light-main-bg-color: white;
  --light-side-gradient-main-bg-color: #e1e1e1;
  --light-main-text-color: black;
  --light-extra-bg-color: #e1e1e1;
  --light-extra-border-color: #282828;
  --light-extra-text-color: black;
  --light-extra-hovered-text-color: #c0e836;
  --light-attent-bg-color: #c0e836;
  --light-attent-text-color: black;

  /*  dark theme colors */
  --dark-main-bg-color: #282828;
  --dark-side-gradient-main-bg-color: #3a3a3a;
  --dark-main-text-color: white;
  --dark-extra-bg-color: #151515;
  --dark-extra-border-color: white;
  --dark-extra-text-color: white;
  --dark-extra-hovered-text-color: orange;
  --dark-attent-bg-color: orange;
  --dark-attent-text-color: black;

  /* var bellow should be used in CSS */
  --main-bg-color: var(--light-main-bg-color);
  --side-gradient-main-bg-color: var(--light-side-gradient-main-bg-color);
  --main-text-color: var(--light-main-text-color);
  --extra-bg-color: var(--light-extra-bg-color);
  --extra-border-color: var(--light-extra-border-color);
  --extra-text-color: var(--light-extra-text-color);
  --extra-hovered-text-color: var(--light-extra-hovered-text-color);
  --attent-bg-color: var(--light-attent-bg-color);
  --attent-text-color: var(--light-attent-text-color);
}
