.header {
  /* min-height: 3rem; */
  display: flex;
  flex-direction: column;
  @media (min-width: 780px) {
      display: inline-grid;
      grid-template-columns: 5fr 2fr auto;
      align-items: center;
  }
}
