.header {
  display: flex;
  flex-direction: column;
  @media (min-width: 780px) {
      min-height: 6vw;
      display: inline-grid;
      grid-template-columns: auto 5fr 2fr;
      justify-content: stretch;
      align-content: stretch;
  }
}

.header__home-link {
  align-self: center;
}