.page {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.page__inner {
  width: 100vw;
  @media (min-width: 780px) {
    width: 80vw;
  }
  margin: 1px 0 0 0;
  display: flex;
  flex-direction: column;
}
