.navigation {
  display: flex;
  @media (min-width: 780px) {
      flex-wrap: nowrap;
  }
  height: 100%;
  justify-content: space-between;
}

.navigation__logo {
  height: 3rem;
}

.navigation__box {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
