.navigation__menu {
  border: 1px solid var(--extra-bg-color);
  background-color: var(--extra-bg-color);
}

.navigation__button {
  background: var(--extra-bg-color);
  padding: 0.2rem;
  border-radius: 15%;
  border: 1px solid var(--extra-bg-color);
}

.navigation__button:hover {
  border: 1px solid var(--main-bg-color);
}

.navigation__logo {
  height: 5rem;
}

.navigation__link {
  white-space: nowrap;
  padding: 0.2rem;
  margin: 0.2rem;
  color: var(--extra-text-color);
}

.navigation__link:hover {
  color: var(--extra-hovered-text-color);
}

.navigation__home-link:hover {
  background-color: var(--main-bg-color);
}
