.navigation_theme {
  background-color: var(--extra-bg-color);
}

.navigation_theme .navigation__box {
  border-right: var(--extra-border-color) 1px solid;
}

.navigation_theme .navigation__box:last-child {
  border-right: none;
}

.navigation_theme .navigation__link {
  text-decoration: none;
  white-space: nowrap;
  padding: 1vh;
  color: var(--extra-text-color);
}

.navigation_theme .navigation__link:hover {
  color: var(--extra-hovered-text-color);
}
