.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  height: 5rem;
}

.navigation__link-box {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
